In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('input.txt', names=['Input'])

In [9]:
df

                                                 Input
0    315CL  432100020001SGXDC FUSGX NK    20100910J...
1    315CL  432100020001SGXDC FUSGX NK    20100910J...
2    315CL  432100020001SGXDC FUSGX NK    20100910J...
3    315CL  432100020001SGXDC FUSGX NK    20100910J...
4    315CL  432100020001SGXDC FUSGX NK    20100910J...
..                                                 ...
712  315CL  432100030001FCC   FUCME N1    20100910J...
713  315CL  432100030001FCC   FUCME N1    20100910J...
714  315CL  432100030001FCC   FUCME N1    20100910J...
715  315CL  432100030001FCC   FUCME N1    20100910J...
716  315CL  432100030001FCC   FUCME N1    20100910J...

[717 rows x 1 columns]

In [10]:
df.columns = ['Input']

In [11]:
start_idx = None
last_idx = None

In [12]:
with open('specifications.txt',"r") as specs:
    for line in specs:
        stripped_line = line.strip()
        split_line = stripped_line.split(',')
        if start_idx == None:
            last_idx = 0 + int(split_line[1])
        else:
            last_idx = start_idx + int(split_line[1])
        df[split_line[0]] = df.apply(lambda x: x['Input'][start_idx:last_idx], axis=1)
        start_idx = last_idx

In [13]:
df

,Input,Record_Code,Client_Type,Client_Number,Account_Number,Subaccount_Number,Opposite_Party_Code,Product_Group_Code,Exchange_Code,Symbol,...,Commission_D_C,Commission_Cur_Code,Transaction_Date,Future_Reference,Ticket_Number,External_Number,Transaction_Price/Dec,Trader_Initials,Opposite_Trader_ID,Open_Close_Code
0,315CL 432100020001SGXDC FUSGX NK 20100910J...,315,CL,4321,0002,0001,SGXDC,FU,SGX,NK,...,D,JPY,20100820,001238,0,688032,000092500000000,,,O
1,315CL 432100020001SGXDC FUSGX NK 20100910J...,315,CL,4321,0002,0001,SGXDC,FU,SGX,NK,...,D,JPY,20100820,001240,0,688058,000092500000000,,,O
2,315CL 432100020001SGXDC FUSGX NK 20100910J...,315,CL,4321,0002,0001,SGXDC,FU,SGX,NK,...,D,JPY,20100820,001245,0,688098,000092500000000,,,O
3,315CL 432100020001SGXDC FUSGX NK 20100910J...,315,CL,4321,0002,0001,SGXDC,FU,SGX,NK,...,D,JPY,20100820,001253,0,688158,000092450000000,,,O
4,315CL 432100020001SGXDC FUSGX NK 20100910J...,315,CL,4321,0002,0001,SGXDC,FU,SGX,NK,...,D,JPY,20100820,001255,0,688162,000092450000000,,,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,315CL 432100030001FCC FUCME N1 20100910J...,315,CL,4321,0003,0001,FCC,FU,CME,N1,...,D,JPY,20100819,059482,,000315,000092600000000,,,O
713,315CL 432100030001FCC FUCME N1 20100910J...,315,CL,4321,0003,0001,FCC,FU,CME,N1,...,D,JPY,20100819,059483,,000316,000092600000000,,,O
714,315CL 432100030001FCC FUCME N1 20100910J...,315,CL,4321,0003,0001,FCC,FU,CME,N1,...,D,JPY,20100819,059618,,000451,000092100000000,,,O
715,315CL 432100030001FCC FUCME N1 20100910J...,315,CL,4321,0003,0001,FCC,FU,CME,N1,...,D,JPY,20100819,059619,,000452,000092100000000,,,O
716,315CL 432100030001FCC FUCME N1 20100910J...,315,CL,4321,0003,0001,FCC,FU,CME,N1,...,D,JPY,20100819,059484,,000317,000092550000000,,,O

In [14]:
df['Total_Transaction_Amount'] = df['Quantity_Long'].astype('float') - df['Quantity_Short'].astype('float')

In [15]:
df['Expiration_Date'] = pd.to_datetime(df['Expiration_Date'])

In [16]:
df['Expiration_Date']

0     2010-09-10
1     2010-09-10
2     2010-09-10
3     2010-09-10
4     2010-09-10
         ...
712   2010-09-10
713   2010-09-10
714   2010-09-10
715   2010-09-10
716   2010-09-10
Name: Expiration_Date, Length: 717, dtype: datetime64[ns]

In [17]:
df_test = df.groupby(['Client_Type', 'Client_Number', 'Account_Number', 'Subaccount_Number', 'Exchange_Code', 'Product_Group_Code', 'Symbol', 'Expiration_Date'], as_index=False)['Total_Transaction_Amount'].sum()

In [18]:
df_test

,Client_Type,Client_Number,Account_Number,Subaccount_Number,Exchange_Code,Product_Group_Code,Symbol,Expiration_Date,Total_Transaction_Amount
0,CL,1234,0002,0001,SGX,FU,NK,2010-09-10,-52.0
1,CL,1234,0003,0001,CME,FU,N1,2010-09-10,285.0
2,CL,1234,0003,0001,CME,FU,NK.,2010-09-10,-215.0
3,CL,4321,0002,0001,SGX,FU,NK,2010-09-10,46.0
4,CL,4321,0003,0001,CME,FU,N1,2010-09-10,-79.0

In [19]:
client_info_cols = ['Client_Type', 'Client_Number', 'Account_Number', 'Subaccount_Number']
product_info_cols = ['Exchange_Code', 'Product_Group_Code', 'Symbol', 'Expiration_Date']
df_test['Client_Information'] = df_test[client_info_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df_test['Product_Information'] = df_test[product_info_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [23]:
nl = client_info_cols + product_info_cols

In [24]:
nl

['Client_Type',
 'Client_Number',
 'Account_Number',
 'Subaccount_Number',
 'Exchange_Code',
 'Product_Group_Code',
 'Symbol',
 'Expiration_Date']

In [20]:
df_test

,Client_Type,Client_Number,Account_Number,Subaccount_Number,Exchange_Code,Product_Group_Code,Symbol,Expiration_Date,Total_Transaction_Amount,Client_Information,Product_Information
0,CL,1234,0002,0001,SGX,FU,NK,2010-09-10,-52.0,CL _1234_0002_0001,SGX _FU_NK _2010-09-10 00:00:00
1,CL,1234,0003,0001,CME,FU,N1,2010-09-10,285.0,CL _1234_0003_0001,CME _FU_N1 _2010-09-10 00:00:00
2,CL,1234,0003,0001,CME,FU,NK.,2010-09-10,-215.0,CL _1234_0003_0001,CME _FU_NK. _2010-09-10 00:00:00
3,CL,4321,0002,0001,SGX,FU,NK,2010-09-10,46.0,CL _4321_0002_0001,SGX _FU_NK _2010-09-10 00:00:00
4,CL,4321,0003,0001,CME,FU,N1,2010-09-10,-79.0,CL _4321_0003_0001,CME _FU_N1 _2010-09-10 00:00:00

In [21]:
df_test.to_csv('Output.csv')

In [22]:
# df['Record_Code'] = df.apply(lambda x: x['Input'][:3], axis=1)
# df['Client_Type'] = df.apply(lambda x: x['Input'][3:7], axis=1)
# df['Client_Number'] = df.apply(lambda x: x['Input'][7:11], axis=1)
# df['Account_Number'] = df.apply(lambda x: x['Input'][11:15], axis=1)
# df['Subaccount_Number'] = df.apply(lambda x: x['Input'][15:19], axis=1)
# df['Opposite_Party_Code'] = df.apply(lambda x: x['Input'][19:25], axis=1)
# df['Product_Group_Code'] = df.apply(lambda x: x['Input'][25:27], axis=1)
# df['Exchange_Code'] = df.apply(lambda x: x['Input'][27:31], axis=1)
# df['Symbol'] = df.apply(lambda x: x['Input'][31:37], axis=1)
# df['Expiration_Date'] = df.apply(lambda x: x['Input'][37:45], axis=1)
# df['Currency_Code'] = df.apply(lambda x: x['Input'][45:48], axis=1)
# df['Movement_Code'] = df.apply(lambda x: x['Input'][48:50], axis=1)
# df['Buy_Sell_Code'] = df.apply(lambda x: x['Input'][50:51], axis=1)
# df['Quantity_Long_Sign'] = df.apply(lambda x: x['Input'][51:52], axis=1)
# df['Quantity_Long'] = df.apply(lambda x: x['Input'][52:62], axis=1)
# df['Quantity_Short_Sign'] = df.apply(lambda x: x['Input'][62:63], axis=1)
# df['Quantity_Short'] = df.apply(lambda x: x['Input'][63:73], axis=1)
# df['Exch/Broker_Fee/DEC'] = df.apply(lambda x: x['Input'][73:85], axis=1)
# df['Exch/Broker_Fee_D_C'] = df.apply(lambda x: x['Input'][85:86], axis=1)
# df['Exch/Broker_Fee_Cur_Code'] = df.apply(lambda x: x['Input'][86:89], axis=1)
# df['Clearing_Fee/DEC'] = df.apply(lambda x: x['Input'][89:101], axis=1)
# df['Clearing_Fee_D_C'] = df.apply(lambda x: x['Input'][101:102], axis=1)
# df['Clearing_Fee_Cur_Code'] = df.apply(lambda x: x['Input'][102:105], axis=1)
# df['Commission'] = df.apply(lambda x: x['Input'][105:117], axis=1)
# df['Commission_D_C'] = df.apply(lambda x: x['Input'][117:118], axis=1)
# df['Commission_Cur_Code'] = df.apply(lambda x: x['Input'][118:121], axis=1)
# df['Transaction_Date'] = df.apply(lambda x: x['Input'][121:129], axis=1)
# df['Future_Reference'] = df.apply(lambda x: x['Input'][129:135], axis=1)
# df['Ticket_Number'] = df.apply(lambda x: x['Input'][135:141], axis=1)
# df['External_Number'] = df.apply(lambda x: x['Input'][141:147], axis=1)
# df['Transaction_Price/DEC'] = df.apply(lambda x: x['Input'][147:162], axis=1)
# df['Trader_Initials'] = df.apply(lambda x: x['Input'][162:168], axis=1)
# df['Opposite_Trader_ID'] = df.apply(lambda x: x['Input'][168:175], axis=1)
# df['Open_Close_Code'] = df.apply(lambda x: x['Input'][175:176], axis=1)