In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('input.txt', header=None)

In [5]:
df.columns = ['Input']

In [6]:
df

                                                 Input
0    315CL  432100020001SGXDC FUSGX NK    20100910J...
1    315CL  432100020001SGXDC FUSGX NK    20100910J...
2    315CL  432100020001SGXDC FUSGX NK    20100910J...
3    315CL  432100020001SGXDC FUSGX NK    20100910J...
4    315CL  432100020001SGXDC FUSGX NK    20100910J...
..                                                 ...
712  315CL  432100030001FCC   FUCME N1    20100910J...
713  315CL  432100030001FCC   FUCME N1    20100910J...
714  315CL  432100030001FCC   FUCME N1    20100910J...
715  315CL  432100030001FCC   FUCME N1    20100910J...
716  315CL  432100030001FCC   FUCME N1    20100910J...

[717 rows x 1 columns]

In [12]:
df['Record_Code'] = df.apply(lambda x: x['Input'][:3], axis=1)
df['Client_Type'] = df.apply(lambda x: x['Input'][3:7], axis=1)
df['Client_Number'] = df.apply(lambda x: x['Input'][7:11], axis=1)
df['Account_Number'] = df.apply(lambda x: x['Input'][11:15], axis=1)
df['Subaccount_Number'] = df.apply(lambda x: x['Input'][15:19], axis=1)
df['Opposite_Party_Code'] = df.apply(lambda x: x['Input'][19:25], axis=1)
df['Product_Group_Code'] = df.apply(lambda x: x['Input'][25:27], axis=1)
df['Exchange_Code'] = df.apply(lambda x: x['Input'][27:31], axis=1)
df['Symbol'] = df.apply(lambda x: x['Input'][31:37], axis=1)
df['Expiration_Date'] = df.apply(lambda x: x['Input'][37:45], axis=1)
df['Currency_Code'] = df.apply(lambda x: x['Input'][45:48], axis=1)
df['Movement_Code'] = df.apply(lambda x: x['Input'][48:50], axis=1)
df['Buy_Sell_Code'] = df.apply(lambda x: x['Input'][50:51], axis=1)
df['Quantity_Long_Sign'] = df.apply(lambda x: x['Input'][51:52], axis=1)
df['Quantity_Long'] = df.apply(lambda x: x['Input'][52:62], axis=1)
df['Quantity_Short_Sign'] = df.apply(lambda x: x['Input'][62:63], axis=1)
df['Quantity_Short'] = df.apply(lambda x: x['Input'][63:73], axis=1)
df['Exch/Broker_Fee/DEC'] = df.apply(lambda x: x['Input'][73:85], axis=1)
df['Exch/Broker_Fee_D_C'] = df.apply(lambda x: x['Input'][85:86], axis=1)
df['Exch/Broker_Fee_Cur_Code'] = df.apply(lambda x: x['Input'][86:89], axis=1)
df['Clearing_Fee/DEC'] = df.apply(lambda x: x['Input'][89:101], axis=1)
df['Clearing_Fee_D_C'] = df.apply(lambda x: x['Input'][101:102], axis=1)
df['Clearing_Fee_Cur_Code'] = df.apply(lambda x: x['Input'][102:105], axis=1)
df['Commission'] = df.apply(lambda x: x['Input'][105:117], axis=1)
df['Commission_D_C'] = df.apply(lambda x: x['Input'][117:118], axis=1)
df['Commission_Cur_Code'] = df.apply(lambda x: x['Input'][118:121], axis=1)
df['Transaction_Date'] = df.apply(lambda x: x['Input'][121:129], axis=1)
df['Future_Reference'] = df.apply(lambda x: x['Input'][129:135], axis=1)
df['Ticket_Number'] = df.apply(lambda x: x['Input'][135:141], axis=1)
df['External_Number'] = df.apply(lambda x: x['Input'][141:147], axis=1)
df['Transaction_Price/DEC'] = df.apply(lambda x: x['Input'][147:162], axis=1)
df['Trader_Initials'] = df.apply(lambda x: x['Input'][162:168], axis=1)
df['Opposite_Trader_ID'] = df.apply(lambda x: x['Input'][168:175], axis=1)
df['Open_Close_Code'] = df.apply(lambda x: x['Input'][175:176], axis=1)

In [36]:
df['Total_Transaction_Amount'] = df['Quantity_Long'].astype('float') - df['Quantity_Short'].astype('float')

In [46]:
df['Expiration_Date'] = pd.to_datetime(df['Expiration_Date'])

In [47]:
df['Expiration_Date']

0     2010-09-10
1     2010-09-10
2     2010-09-10
3     2010-09-10
4     2010-09-10
         ...
712   2010-09-10
713   2010-09-10
714   2010-09-10
715   2010-09-10
716   2010-09-10
Name: Expiration_Date, Length: 717, dtype: datetime64[ns]

In [56]:
df_test = df.groupby(['Client_Type', 'Client_Number', 'Account_Number', 'Subaccount_Number', 'Exchange_Code', 'Product_Group_Code', 'Symbol', 'Expiration_Date'], as_index=False)['Total_Transaction_Amount'].sum()

In [57]:
df_test

,Client_Type,Client_Number,Account_Number,Subaccount_Number,Exchange_Code,Product_Group_Code,Symbol,Expiration_Date,Total_Transaction_Amount
0,CL,1234,0002,0001,SGX,FU,NK,2010-09-10,-52
1,CL,1234,0003,0001,CME,FU,N1,2010-09-10,285
2,CL,1234,0003,0001,CME,FU,NK.,2010-09-10,-215
3,CL,4321,0002,0001,SGX,FU,NK,2010-09-10,46
4,CL,4321,0003,0001,CME,FU,N1,2010-09-10,-79

In [62]:
client_info_cols = ['Client_Type', 'Client_Number', 'Account_Number', 'Subaccount_Number']
product_info_cols = ['Exchange_Code', 'Product_Group_Code', 'Symbol', 'Expiration_Date']
df_test['Client_Information'] = df_test[client_info_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df_test['Product_Information'] = df_test[product_info_cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [63]:
df_test

,Client_Type,Client_Number,Account_Number,Subaccount_Number,Exchange_Code,Product_Group_Code,Symbol,Expiration_Date,Total_Transaction_Amount,Client_Information,Product_Information
0,CL,1234,0002,0001,SGX,FU,NK,2010-09-10,-52,CL _1234_0002_0001,SGX _FU_NK _2010-09-10 00:00:00
1,CL,1234,0003,0001,CME,FU,N1,2010-09-10,285,CL _1234_0003_0001,CME _FU_N1 _2010-09-10 00:00:00
2,CL,1234,0003,0001,CME,FU,NK.,2010-09-10,-215,CL _1234_0003_0001,CME _FU_NK. _2010-09-10 00:00:00
3,CL,4321,0002,0001,SGX,FU,NK,2010-09-10,46,CL _4321_0002_0001,SGX _FU_NK _2010-09-10 00:00:00
4,CL,4321,0003,0001,CME,FU,N1,2010-09-10,-79,CL _4321_0003_0001,CME _FU_N1 _2010-09-10 00:00:00

In [52]:
df_test.to_csv('Output.csv')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Input                     717 non-null    object
 1   Record_Code               717 non-null    object
 2   Client_Type               717 non-null    object
 3   Client_Number             717 non-null    object
 4   Account_Number            717 non-null    object
 5   Subaccount_Number         717 non-null    object
 6   Opposite_Party_Code       717 non-null    object
 7   Product_Group_Code        717 non-null    object
 8   Exchange_Code             717 non-null    object
 9   Symbol                    717 non-null    object
 10  Expiration_Date           717 non-null    datetime64[ns]
 11  Currency_Code             717 non-null    object
 12  Movement_Code             717 non-null    object
 13  Buy_Sell_Code             717 non-null    object
 14  Quantity_Long_Sign        717 non-null    object
 15  Quantity_Long             717 non-null    object
 16  Quantity_Short_Sign       717 non-null    object
 17  Quantity_Short            717 non-null    object
 18  Exch/Broker_Fee/DEC       717 non-null    object
 19  Exch/Broker_Fee_D_C       717 non-null    object
 20  Exch/Broker_Fee_Cur_Code  717 non-null    object
 21  Clearing_Fee/DEC          717 non-null    object
 22  Clearing_Fee_D_C          717 non-null    object
 23  Clearing_Fee_Cur_Code     717 non-null    object
 24  Commission                717 non-null    object
 25  Commission_D_C            717 non-null    object
 26  Commission_Cur_Code       717 non-null    object
 27  Transaction_Date          717 non-null    object
 28  Future_Reference          717 non-null    object
 29  Ticket_Number             717 non-null    object
 30  External_Number           717 non-null    object
 31  Transaction_Price/DEC     717 non-null    object
 32  Trader_Initials           717 non-null    object
 33  Opposite_Trader_ID        717 non-null    object
 34  Open_Close_Code           717 non-null    object
 35  Total_Transaction_Amount  717 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(34)
memory usage: 201.8+ KB

In [2]:
a = 'x - y'

['x - y']